* {
    text-decoration: none;
    margin: 0%;

}

body {
    display: flex;
    flex-wrap: wrap;
    overflow-x: hidden;
}

/***************** division générale de l'entête ***************/
/******** image entête ******/
.divisionEntête {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #ff9a00;
}


/******** menu navigation 1 ******/

.navigation1 {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    background-color: #f5f5f5;
}

a {
    color: rgb(65, 63, 63);
}

a :hover {
    color: blue;
}

/********************* menu navigation 2 (header) * *************/
.section_header {
    width: 100%;
    height: 70px;
    display: flex;
}

.logo_jumia {
    height: 30px;
    margin: 15% 70%;
}

/* formulaire recherche */
.div_form {
    width: 70%;
    margin-top: 0.2%;
    margin-left: 16%;
    /* padding-right: 1px; */
}

.barre_Recherche {
    width: 50%;
    padding: 2%;
    border-radius: 7px;
    font-size: 15px;
}

.bouton_barre_Recherche {
    width: 23%;
    background-color: #f68b1e;
    padding: 2%;
    margin-top: 2%;
    border-radius: 7px;
}

/**** menu de navigation2 ****/
.div_selec_nav2 {
    width: 50%;
    display: flex;
}

.selec_nav2 {
    border: 0px;
    background-color: white;

}

.bouton_nav2 {
    margin-top: 5%;
    font-size: 20px;
    margin-left: 3%;
}


.bouton_nav2:hover {
    transition: 0.5s;
    color: blue;
}

.selec_nav2:hover {
    transition: 0.5s;
    color: blue;
}

/******************************** main ******************************/
#principale {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #f5f5f5;

}

#content_main {
    width: 90%;
    display: flex;
    margin-top: 1%;
    gap: 1%;
}

/*********** menu main /produits **********/
.div_matériels {
    width: 200px;
    height: 360px;
    padding: 1%;
    border-radius: 10px;
    background-color: white;
}

.div_matériels,
p,
a {
    font-size: 98%;
}

.boutonM {
    display: none;
}

/************silde main 1 **********/
.mySlides {
    width: 100%;
    height: 400px;
    border-radius: 10px;
}

/*********** menu contact ******/
.div_contact1 {
    width: 200px;
    height: 190px;
    border-radius: 10px;
    background-color: white;
    margin-bottom: 5%;
    padding: 4%;
}


/************silde main 2 **********/
.content_div_slider2 {
    width: 100%;
    margin-left: 8%;
    margin-right: 7%;
    background-color: white;
}

.div_slider {
    width: 90%;
    display: flex;
    gap: 1%;
    margin: 1% 6%;

}

.slider {
    width: 11.5%;
    height: 100px;
    border-radius: 20px;
}

/* Next & previous buttons */
.prev,
.next {
    position: absolute;
    top: 90%;
    padding: 16px;
    color: white;
    background-color: rgb(121, 118, 118);
    font-size: 18px;
    border-radius: 0 25px 25px 0;
}

/* Position the "next button" to the right */
.next {
    margin-left: 81.3%;
    border-radius: 25px 0 0 25px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

@media screen and (max-width : 1000px) {
    .navigation1 {
        font-size: 11px;
    }

    /* enlever les textes: "Se connecter" "Aide" et "Panier" */
    .menu1 {
        display: none;
    }

    .div_form {
        margin-left: 5%;
    }

    .barre_Recherche {
        width: 50%;
    }

    .bouton_nav2 {
        margin-left: 0%;
    }

    .logo_jumia {
        width: 65px;
        margin: 0px 0px;
    }

    /******* main *****/
    #content_main {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        /* justify-content: center; */
    }

    .div_matériels {
        left: 50px;
        display: none;
        position: absolute;
    }

    .boutonM {
        display: block;
        height: 30px;
    }

    /* slider du bas */
    .content_div_slider2 {
        width: 100%;

    }

    .slider {
        /* position: relative; */
        height: 60px;
    }

    .content_div_slider2 {
        width: 80%;

    }

    .prev,
    .next {
        top: 980px;
        font-size: 6px;

    }

}